* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Trebuchet,'Trebuchet MS';
}

.menu_utama .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: auto;
    height: 700px;
    width: 100%;
    max-width: 2000px;
    padding: 0;
    z-index: 1;
    background-color: darkred;
}

.content {
    margin-left: 30px;
    background-size: 100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    font-style: oblique;
}

.content h1{
    text-align: center;
    font-size: 7.5rem;
    color: darkorange;
    height: 10rem;
}

.content h2{
    text-align: center;
    font-size: 3rem;
    color: ivory;
}

.img {
    text-align: right;
    max-height: min-content;
    padding-right: 10px;
    margin-right: 50px;
}

.data .container{
    background-color: darkorange;
    padding-top: 30px;
    align-items: center;
    justify-self: center;
    margin: auto;
    height: 150px;
    width: 100%;
    max-width: 2000px;
    text-align: center;
    
}

.content2 h2{
    color: darkred;
    font-size: 4rem;

}

.data_antares {
    background-color:darkorange;
    height: 310px;
    display: grid;
}

.card {
    background-color:darkred;
    display: grid;
    column-gap: 50px;
}

.foot_container {
    background-color:darkred;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#social_logo{
    color: #ffff;
    display: flex;
    align-items: left;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.footerlink {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.sosial_ikon_link {
    color: #ffffff;
    font-size: 30px;
}

.social{
    max-width: 1000px;
    width: 100%;
}

.social_media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin : 40px auto;
}

.socialikon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website{
    color: #ffffff;
}

